# Ignore binaries and intermediate files
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vscode/

# Ignore temporary files
*.tmp
*.log
*.obj
*.bin
*.scc
*.pdb
*.idb
*.class
*.psd
*.db
*.opendb

# Ignore Visual Studio files
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore macOS files
.DS_Store
